.logoContainer {
  position: relative;
  width: 10px;
  height: 10px;
}

.logoImage {
  width: 100px;
  height: 100px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
}

.navbar {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;  
  padding: 40px 50px;
}

.navbarMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 15px 200px;
  border: 1px solid var(--white);
  border-radius: 15px;
  background-color: var(--dark-gray);
}

.navbarItem {
  filter: blur(0px);
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 0 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

.icons {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;  
}

.translateIcon {
  width: 40px;
  height: 40px;
}

.sunIcon {
  width: 40px;
  height: 40px;
}